#box{margin:0;padding:0;}
.layout{max-width:960px;margin:0 auto}
#header{
    width:100%;
    float:left;
    background:black;
    color:white;display:inline-block}
#header h3{float:left;padding:20px;display:inline}
#header ul{list-style-type: none;float:right;line-height:0.5rem;}
#header .layout ul li{display:inline-block;font-size:12px;}
#header .layout ul li a:link,
#header .layout ul li a:visited,
#header .layout ul li a:hover,
#header .layout ul li a:active{color:white;}
#banner{width:100%;background:#66BB33;height:300px;}
#banner .button{height:28px;width:30px;display:inline;float:right;margin-top:160px;}
#nav{position:relative;font-size:16px;color:black;}
#nav ul{list-style-type:none;width:100%;height:70px;margin:20px auto 0  0;border-bottom:1px solid rgb(221 221 221);background:white}
#nav ul li{float:left;position:relative;}
#nav ul li a {text-align:center;border:1px solid black;height:38px;width:110px;border-radius:10px 10px 0 0;padding:15px;display:block;text-decoration: none;color:black;background:rgb(238 238 238)}
#nav ul li a:active{display:block;background:white;border-bottom:1px solid white;}
main{margin-bottom:1rem; width:960px;margin:0 auto; display:flex;flex-direction:column;}
section{margin:0.5rem auto; flex:1;margin:5px 0 0 0;display:flex;}
main p{padding:80px;margin:5px 5px 0 5px;border:1px solid rgb(204 204 204 );text-align:center;/*margin-bottom:0*/ flex:1}
section p:last-child{margin-right:0;}
section p:first-child{margin-left:0;}
#footer{height:120px;margin:0 auto;color:white;background:rgb(102 102 102);margin-top:10px;line-height:3em;text-align:center}
